packaging
xformers==0.0.21
tqdm
sentencepiece
transformer==4.31.0
datasets==2.14.5
deepspeed==0.11.0
accelerate==0.21.0
peft
bitsandbytes
evaluate
tokenizers
protobuf
openai
tiktoken
rouge_score
wandb
gradio
markupsafe
termcolor
jsonlines
mecab-python3
unidic-lite
einops
scipy
flash_attn==2.0.1
fire
flask
gpustat
rich
bitarray
ray==2.6.3
vllm==0.1.4 # ! Ensure version <= 0.1.4, later versions have unsolved bugs.
cvxpy
func-timeout
timeout-decorator
sympy==1.12
antlr4-python3-runtime==4.11 # ! The version needs to be compatible with sympy.
pebble